<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Invocations" parallel="methods" thread-count="4">
  <test name="RepeatSameTest">
    <classes>
      <class name="myTestCases.AutomationExercise"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
